html {
    font-size: 100px;
}
*{
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:"微软雅黑";
    box-sizing: border-box;
}
body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
html,
body {
    width: 100%;
    height: 100%;
}

.IndexPage{
    width:100%;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.IndexPage_content{
    width:100%;
    height:100%;
    overflow: hidden;
    .IndexPage_content_child{
        width:100%;
        height:auto;
        h1{
        width:100%;
        height:40px;
        display: flex;
        align-items: center;
        text-indent:10px;
        font-size:18px;
        background: #f4f4f4;
        color: #aaa;
        }
        ul{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        li{
            width:96%;
            height:60px;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            img{
            width:40px;
            }
            span{
            font-size:16px;
            margin:0 0 0 20px;
            }
        }
        }
    }
}

.RightProinst{
    width:20px;
    height:84%;
    position: fixed;
    right: 0;
    top:8%;
    display: flex;
    flex-direction: column;
    li{
      width:100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:24;
      color: #666;
      font-weight: 500;
    }
  }
  